:where(.css-dev-only-do-not-override-qnu6hi).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: #ff9900 !important;
  border-color: #ff9900 !important;
}
.schedule-date .highlighted {
  background-color: #1890ff;
  color: white;
}
